<div class="modul">
  <div class="moduleHeader">
    <div>{{name}}</div>
    <div><i nz-icon nzType="edit" nzTheme="twotone"></i></div>
    <a (click)="delete()"><i nz-icon nzType="delete" nzTheme="twotone"></i></a>
  </div>
  <div class="content" [ngSwitch]="modType">

    <div *ngSwitchCase="'userCount'" class="content">
      <div>Number of registered users:</div>
      <div>{{content}}</div>
    </div>
    <div *ngSwitchDefault>
      {{moduleID}}
      {{content}}
    </div>
  </div>
</div>

