.modul {
  background-color: white;
  min-height: 200px;
  width: 200px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.moduleHeader {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.counter {
  height: 150px;
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}

textarea {
  max-height: 160px;
  min-height: 160px;
}

.regUser {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.number{
  font-size: 30px;
}
