.modul {
  background-color: white;
  min-height: 200px;
  min-width: 200px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.moduleHeader {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}

.counter{
  height: 150px;
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

textarea{
  max-height: 160px;
  min-height: 160px;
}
