<p>{{userid}} {{moduleList}}</p>

<div id="modulContainer">

  {{moduleList}}
  <app-modul *ngFor="let mod of moduleList" name={{mod.name}} moduleID={{mod._id}} content="{{mod.content}}"
             modType="{{mod.type}}"></app-modul>

  <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
    <div class="creator">
      <i nz-icon nzType="plus-circle" nzTheme="twotone" style="font-size: 50px"></i>
      <!--  <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="plus-circle"></i></button>-->
    </div>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="createModule(item)" *ngFor="let item of listOfModulTypes">{{item}}</li>
    </ul>
  </nz-dropdown-menu>
</div>
