.userContent {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: large;
}

#user_info {
  display: flex;
  flex-flow: column;
  align-items: center;
}


#logOutButton {
  margin-top: 20px;
}

.colorSettings {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
}

.settingLine {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.marginLeft {
  margin-left: 10px;
}
