<div class="login-container">
  <h1>Login</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input nz-input nzSize="large" type="text" class="form-control" id="exampleInputEmail1" name="username"
             aria-describedby="emailHelp"
             ngModel
             placeholder="Enter username" required #username="ngModel">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input nz-input nzSize="large" type="password" class="form-control" id="exampleInputPassword1" name="password" #pas="ngModel" required
             ngModel
             placeholder="Password">
      <a [routerLink]="['../reset-password']" style="font-size: medium">Forgot Password</a>
    </div>
    <div class="form-group form-check">
      <button nz-button nzSize="large" nzType="primary" type="submit" [disabled]="f.invalid" class="btn btn-primary">Login</button>
      <a [routerLink]="['../register']">Register instead</a>
    </div>
  </form>
</div>
